/* body {
    background-color: #070d59;
    font-family: monospace;
    color: white;
    margin: 0;
}

.container {
    max-width: 300px;
    margin: auto;
    text-align: center;
}

a {
    color: white;
} */
