{% extends "layout/base.html" %}
{% load static %}
{% load tz %}
{% block "content" %}
    <div class="container">
        <div class="row">
                <div class="col-sm">
                    <canvas id="wind-direction"></canvas>
                </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <canvas id="wind"></canvas>
            </div>
    </div>
    </div>
    <script>
        var config_direction = {
            type: 'radar',
            data: {
                labels: [
                        {% for data in wind_directions %}
                            '{{ data.direction }}',
                        {% endfor %}
                    ],
                datasets: [{
                    label: 'Vent km/h',
                    backgroundColor: "#5893d4",
                    borderColor: "#5893d4",
                    data: [
                        {% for data in wind_directions %}
                            {{ data.speed }},
                        {% endfor %}
                    ],
                    fill: false,
                },
                {
                    label: 'Rafale km/h',
                    backgroundColor: "#ff6699",
                    borderColor: "#ff6699",
                    data: [
                        {% for data in wind_directions %}
                            {{ data.gust }},
                        {% endfor %}
                    ],
                    fill: false,
                }]
            },
            options: {
			}
        };

        var config_wind = {
            type: 'line',
            data: {
                labels: [
                        {% for measurement in wind_measurement %}
                            '{{ measurement.created_at|timezone:"Europe/Paris"|date:"G:i" }}',
                        {% endfor %}
                    ],
                datasets: [{
                    label: 'Vent km/h',
                    backgroundColor: "#5893d4",
                    borderColor: "#5893d4",
                    data: [
                        {% for measurement in wind_measurement %}
                            {{ measurement.wind_speed }},
                        {% endfor %}
                    ],
                    fill: false,
                },
                {
                    label: 'Rafale km/h',
                    backgroundColor: "#ff6699",
                    borderColor: "#ff6699",
                    data: [
                        {% for measurement in wind_measurement %}
                            {{ measurement.wind_gust }},
                        {% endfor %}
                    ],
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                legend: {
                    display: false
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                        }
                    }]
                }
            }
        };

        window.onload = function() {
            window.wind_direction = new Chart(document.getElementById('wind-direction').getContext('2d'), config_direction);
            window.wind_direction = new Chart(document.getElementById('wind').getContext('2d'), config_wind);
        };
    </script>
{% endblock %}
